<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tamu.cs.success.srinath.michelinchef" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Orangetheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CuisinesActivity"
            android:label="@string/title_activity_cuisines" >
        </activity>
        <activity
            android:name=".QuickEasy"
            android:label="@string/title_quick_easy" >
        </activity>
        <activity
            android:name=".CheapEats"
            android:label="@string/title_cheap_eats" >
        </activity>
        <activity
            android:name=".DigitalCard"
            android:label="@string/title_digital_card" >
        </activity>
    </application>

</manifest>
